

h1 {
font-family: 'Roboto', sans-serif;
font-weight: lighter;
padding-left: 20px;
}

p {
font-family: 'Roboto', sans-serif;
padding-left: 20px;
}

.content{
padding-left: 20px;
}

// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
